@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.98 0.01 335.69);
  --foreground: oklch(0.22 0 0);
  --card: oklch(0.96 0.01 335.69);
  --card-foreground: oklch(0.14 0 0);
  --popover: oklch(0.95 0.01 316.67);
  --popover-foreground: oklch(0.4 0.04 309.35);
  --primary: oklch(0.51 0.21 286.5);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.49 0.04 300.23);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.96 0.01 335.69);
  --muted-foreground: oklch(0.55 0 0);
  --accent: oklch(0.92 0.04 303.47);
  --accent-foreground: oklch(0.14 0 0);
  --destructive: oklch(0.57 0.23 29.21);
  --border: oklch(0.83 0.02 308.26);
  --input: oklch(0.57 0.02 309.68);
  --ring: oklch(0.5 0.13 293.77);
  --chart-1: oklch(0.61 0.21 279.42);
  --chart-2: oklch(0.72 0.15 157.67);
  --chart-3: oklch(0.66 0.17 324.24);
  --chart-4: oklch(0.81 0.15 127.91);
  --chart-5: oklch(0.68 0.17 258.25);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.15 0 0);
  --sidebar-primary: oklch(0.56 0.11 228.27);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.25 0 0);
  --sidebar-border: oklch(0.9 0 0);
  --sidebar-ring: oklch(0.56 0.11 228.27);

  --font-sans: Roboto, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono:
    "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 1rem;

  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
}

.dark {
  --background: oklch(0.15 0.01 317.69);
  --foreground: oklch(0.95 0.01 321.5);
  --card: oklch(0.22 0.02 322.13);
  --card-foreground: oklch(0.95 0.01 321.5);
  --popover: oklch(0.22 0.02 322.13);
  --popover-foreground: oklch(0.95 0.01 321.5);
  --primary: oklch(0.6 0.22 279.81);
  --primary-foreground: oklch(0.98 0.01 321.51);
  --secondary: oklch(0.45 0.03 294.79);
  --secondary-foreground: oklch(0.95 0.01 321.5);
  --muted: oklch(0.22 0.01 319.5);
  --muted-foreground: oklch(0.7 0.01 320.7);
  --accent: oklch(0.35 0.06 299.57);
  --accent-foreground: oklch(0.95 0.01 321.5);
  --destructive: oklch(0.57 0.23 29.21);
  --border: oklch(0.4 0.04 309.35);
  --input: oklch(0.4 0.04 309.35);
  --ring: oklch(0.5 0.15 294.97);
  --chart-1: oklch(0.5 0.25 274.99);
  --chart-2: oklch(0.6 0.15 150.16);
  --chart-3: oklch(0.65 0.2 309.96);
  --chart-4: oklch(0.6 0.17 132.98);
  --chart-5: oklch(0.6 0.2 255.25);
  --sidebar: oklch(0.2 0.01 317.74);
  --sidebar-foreground: oklch(0.95 0.01 321.5);
  --sidebar-primary: oklch(0.59 0.11 225.82);
  --sidebar-primary-foreground: oklch(0.95 0.01 321.5);
  --sidebar-accent: oklch(0.3 0.01 319.52);
  --sidebar-accent-foreground: oklch(0.95 0.01 321.5);
  --sidebar-border: oklch(0.35 0.01 319.53 / 30%);
  --sidebar-ring: oklch(0.59 0.11 225.82);

  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl:
    0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }
  h1 {
    @apply text-2xl font-semibold text-foreground;
  }
  h2 {
    @apply text-xl font-semibold text-foreground;
  }
  h3 {
    @apply text-lg font-medium text-foreground;
  }
  body {
    @apply text-base;
  }
  small {
    @apply text-sm text-muted-foreground;
  }
  .caption {
    @apply text-xs text-muted-foreground;
  }
}

@layer utilities {
  button {
    cursor: pointer !important;
  }
  .text-balance {
    text-wrap: balance;
  }

  @keyframes indeterminate {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-indeterminate {
    animation: indeterminate 1.5s linear infinite;
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }

  .api-scrollbar {
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "ss02" on,
      "cv11" on;
  }
}
