@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --primary: #0066ff;
  --success: #00c853;
  --warning: #ff6d00;
  --error: #d32f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family:
      system-ui,
      -apple-system,
      "Inter",
      sans-serif;
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-2xl font-semibold text-gray-900;
  }
  h2 {
    @apply text-xl font-semibold text-gray-900;
  }
  h3 {
    @apply text-lg font-medium text-gray-800;
  }
  body {
    @apply text-base;
  }
  small {
    @apply text-sm text-gray-600;
  }
  .caption {
    @apply text-xs text-gray-500;
  }
}
